.notificationBarContainer {
  background-color: #7B6C55;
  font-weight: normal;
  font-size: 10px;
  letter-spacing: 0.2em;
  line-height: 12px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 999;
}



.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 12px;
  color: #000;
  background: transparent;
  padding-left: 5px;
}

.searchBarContainer :global(.vtex-input-prefix__group) {
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
  background: transparent;
}

.searchBarContainer .searchIcon {
  color: #CCB28A;
}

.autoCompleteOuterContainer :global(.vtex-input__suffix) {
  background: transparent;
  padding-right: 5px;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

@media (min-width: 1024px) {
  .searchBarContainer :global(.vtex-styleguide-9-x-input) {
    min-width: 256px;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .searchBarContainer {
    width: 100%;
    max-width: 100%;
    margin: 0;
    position: fixed;
    padding: 0px 25px 12px;
    background-color: #ffffffb3;
  }
}
