.sliderLayoutContainer {
  margin-bottom: 100px;
  justify-content: center;
}
.sliderLayoutContainer--carousel {
  background-color: #F0F0F0;
}

.sliderTrackContainer {
  max-width: 1520px;
}

.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
}

.paginationDot {
  width: 9px !important;
  height: 9px !important;
  background: #EFCAA4;
}
.paginationDot--isActive {
  background: #000000;

}
.sliderLeftArrow--shelf,
.sliderRightArrow--shelf {
  top: 140px;
}

.sliderLeftArrow {
  background: white !important;
  left: 35px;
  padding: 10px;
}
.sliderRightArrow {
  background: white !important;
  right: 35px;
  padding: 10px;
}

/* @media (max-width) {
  .sliderLayoutContainer--carousel{
    margin-top: -84px;
  }
} */
