.notificationBarContainer {
  background-color: #7B6C55;
  font-weight: normal;
  font-size: 10px;
  letter-spacing: 0.2em;
  line-height: 12px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 999;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 12px;
  color: #000;
  background: transparent;
  padding-left: 5px;
}

.searchBarContainer :global(.vtex-input-prefix__group) {
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
  background: transparent;
}

.searchBarContainer .searchIcon {
  color: #CCB28A;
}

.autoCompleteOuterContainer :global(.vtex-input__suffix) {
  background: transparent;
  padding-right: 5px;
}

.infoCardContainer--info-card-home :global(.vtex-button) {
  background: #000;
  border: none;
  outline: none;
  border-radius: 0;
}
.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #E6DCD6;
  padding: 0px;
}

.newsletter {
  background-color: #EFCAA4;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .inputGroup {
  display: block;
}
.newsletter :global(.vtex-input-prefix__group) {
  border-color: #000000;
}

.newsletter :global(.vtex-styleguide-9-x-input) {
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 12px;
  text-align: left;
  color: #000 !important;
}
.newsletter :global(.vtex-styleguide-9-x-input) ::placeholder {
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 12px;
  text-align: left;
  color: #000 !important;
}

.newsletter :global(.vtex-button__label) {
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 0.1em;
  line-height: 30px;
  text-align: left;
  color: #17100d;
}
.newsletter :global(.vtex-button) {
  align-items: center;
  margin: auto;
  display: flex;
  border: none;
  outline: none;
  margin-top: 10px;
}
.newsletter :global(.vtex-button):hover {
  border: 1px solid black;
}

.newsletter .form {
  margin: auto;
}
.newsletter .buttonContainer {
  padding: 0;
}

.newsletter .label {
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.2em;
  line-height: 12px;
  text-align: left;
  color: #17100d;
}


.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

.productBrand {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.skuSelectorName {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.skuSelectorSelectorImageValue {
  color: #7B6C55;
  font-size: 12px;
  font-weight: 400;
}

.skuSelectorTextContainer {
  margin-bottom: 15px;
}

.skuSelectorInternalBox--skuSelector {
  border: inherit;
}

.frameAround--skuSelector {
  border-radius: 0;
  border-color: #000;
}

.productDescriptionText {
  text-align: center;
}

@media (max-width: 575.98px) {
  .productDescriptionText {
    margin-bottom: 40px;
  }
}

.productDescriptionTitle {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 40px;
  color: #000000;
  text-transform: uppercase;
}

.productDescriptionText {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.5px;
  color: #000000;
}

.shippingContainer {
  position: relative;
  margin-top: 20px;
}

.shippingContainer :global(.vtex-input__label) {
  bottom: -40px;
  font-size: 0;
  font-weight: 400;
  color: #000000;
  position: relative;
  text-align: left;
  text-transform: uppercase;
}

.shippingContainer :global(.vtex-input__label)::before {
  content: 'CALCULAR ENTREGA:';
  font-size: 12px;
}

@media (max-width: 575.98px) {
  .shippingContainer :global(.vtex-input__label) {
    bottom: 0;
  }
}

.shippingContainer :global(.vtex-input-prefix__group) {
  border: 0;
  border-radius: 0;
}

.shippingContainer :global(.vtex-address-form__postalCode) {
  position: relative;
  text-align: right;
  font-size: 12px;
}

.shippingContainer :global(.vtex-address-form-4-x-input) {
  height: 40px;
  position: absolute;
  border-radius: 0;
  width: 450px;
  right: 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #707070;
}

@media (max-width: 575.98px) {
  .shippingContainer :global(.vtex-address-form-4-x-input) {
    width: 100%;
  }
}

.shippingContainer :global(.vtex-button) {
  position: absolute;
  top: 20px;
  height: 40px;
  border: 0;
  width: 100px;
  right: 0;
  background-color: transparent;
  border-radius: 0;
  color: #000;
  font-size: 0;
  font-weight: 800;
  cursor: pointer;
}

.shippingContainer :global(.vtex-button)::after {
  content: 'OK';
  font-size: 12px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 40px;
  width: 80px;
  cursor: pointer;
}

.container {
  margin: auto
}

@media (min-width: 1024px) {
  .searchBarContainer :global(.vtex-styleguide-9-x-input) {
    min-width: 256px;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .searchBarContainer {
    width: 100%;
    max-width: 100%;
    margin: 0;
    position: fixed;
    padding: 0px 25px 12px;
    background-color: #ffffffb3;
  }
}
